[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
